.rowg {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin: auto;
  
}

/* Create two equal columns that sits next to each other */
.columng {
  padding: 0 4px;
  margin: auto;
}

.columng img {
  margin-top: 8px;
  vertical-align: middle;
  padding: 0 4px;
  margin: auto;
  height: auto;
  width: auto;
  cursor: pointer;
  color: white;
}
